* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto';
}

button {
    height: 120px;
    width: 200px;
    border-radius: 16px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-colume {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}